* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "맑은 고딕", "돋움";
    font-size: 12px;
    color: #444;
}

ul {
    list-style-type: none;
}

.clear {
    clear: both;
}

.line {
    border-top: 1px solid #888;
}

#page {
    width: 1300px;
    margin: auto;
}

a:link,
a:hover,
a:visited,
a:active {
    text-decoration: none;
    color: #444;
}